<!DOCTYPE html>
<html>
  <head>
    <title>Weather App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar">
      <div class="container">
        <ul class="nav-links">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Data Navigation", data_navigation_path %></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
